{% extends "base.html.twig" %}
{% block title %}{% trans %} default.panier.title {% endtrans %}{% endblock %}
{% block content %}
    <p>Panier</p>
    <div class="container">
        <div class="row">
            {% for id, data in panier %}
            <div class="col-8">{{ data['entity'].libelle }}, -> quantite: {{ data['nbr'] }}</div>
            <div class="col-2"><a href="{{ path('panier.remove', { "idProduit": id }) }}">R</a></div>
            <div class="col-2"><a href="{{ path('panier.delete', { "idProduit": id }) }}">D</a></div>
            {% endfor %}
            <div class="col-12">
                <a href="{{ path('panier.validation') }}">Valider</a>
            </div>
        </div>
    </div>
{% endblock %}
