{% extends "base.html.twig" %}
{% block title %}{% trans %} default.panier.title {% endtrans %}{% endblock %}
{% block content %}
    <h1 id="cart-title" class="mx-5 my-5">Panier</h1>
    <div class="container">
        <div class="row">
            {% for id, article in panier %}
            <div class="cart">
              {# <span>{{libelle}}</span> #}
              <p>Quantite: {{ article }}</p>
              <span></span>
              <div class="cart-buttons">
                <a class="cart-button" href="{{ path('panier.remove', { "idProduit": id }) }}">Remove</a>
                <a class="cart-button" href="{{ path('panier.delete', { "idProduit": id }) }}">Delete</a>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {# <a class="cart-button" href="{{ path('panier.validation') }}">Valider</a> #}
{% endblock %}
