{% extends "base.html.twig" %}
{% block title %}{% trans %} default.boutique.title {% endtrans %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        {% for category in categories %}
           <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <img src="{{category.visuel}}" class="card-img-top" alt="{{category.libelle}}">
                    <div class="card-body">
                        <h5 class="card-title">{{category.libelle}}</h5>
                        <p class="card-text">{{category.texte}}</p>
                        <a href="{{ path('category', { "id": category.id }) }}" class="btn btn-primary">{% trans %} default.boutique.action {% endtrans %}</a>
                    </div>
                </div>
           </div>
        {% endfor %}
    </div>
</div>
{% endblock %}